<div class="image-"></div>
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <h1 class="mb-3">Gestor de Documentos de la Uleam</h1>
        <img class="logo" src="../../../assets/images/loginu.png" alt="login-">
        <form  (ngSubmit)="login()" [formGroup]="loginUsuario">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="Correo Electrónico">
                <label for="floatingInput">Correo Electrónico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                <label>Contraseña</label> 
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit"class="btn btn-primary" >Iniciar Sesión</button>
            </div>
            <p >Si aun no tienes una cuenta, por favor <a routerLink="/registrar-usuario"> Registrate aquí</a> </p>
            <p>¿Olvidaste tu contraseña? <a href="/recuperar-password"> Recuperar contraseña</a> </p>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
