<div class="image-"></div>
<div class="wrapper">
    <div class="body">
        <h4 class="mb-3">Le enviamos un correo electrónico para veriicarlo</h4>
        <img class="logo" src="../../../assets/images/loginu.png" alt="login-">
        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary" type="button"><a href="/login"> Volver al inicio de Sesión</a></button>
        </div>
    </div>
</div>