*{
    margin: 0;  
    padding: 0;     
}
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    color: white;
    text-decoration: none;
}#icono-c{
    color: white;
    cursor: pointer;
}
.fotous{
    position: relative;
    left: -20px;
}
.uleam{
    display: flex;  
    width: 1232.5px;  
}
.edit-perfil{
    position: absolute;
    padding: 10px;
    border-radius: 1.5rem;
    right: 70px;
    top: 350px;
    background-color: #D23445;
    display: flex;
    color: white;
}
.edit-perfil a{
    color:white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}.edit-perfil:hover{
    background-color: #38703d;
}
.notificaciones{
    position: absolute;
    padding: 10px;
    border-radius: 1.5rem;
    right: 70px;
    top: 250px;
    background-color: #D23445;
    display: flex;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:white;
}
.notificaciones a{
    color:white;
    text-decoration: none;
    list-style: none;
} .notificaciones:hover{
    background-color: #38703d;
}
:root{
    --estado-buda: 0.3s;
    --cada-item-1: 40.5px;
    --cantidad-items: 0;
}
body{
    background-color: #E6E8EC;
    display: flex;
    font-family: arial;
    font-size: 20px;
    gap: 30px;
}
nav{
    position: relative;
    right: 1300px;
    top:200px;
    }   
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}
nav ul li{
    border-bottom: 1px solid #474545;
    width: 570px;
    box-sizing: border-box;
}
nav ul a{
    box-sizing: border-box;
    color: white;
    background: #474545;
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
} nav li a:hover{
    cursor: pointer;
    background-color: #38703d;
}
nav ul ul{
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
    counter-reset: items;
}
nav ul ul li{
    counter-increment: items;
}
nav ul li:hover ul{
    height: calc( var(--cantidad-items) * var(--cada-item-1) );
    background: rgb(110, 151, 117); 
}
nav ul ul a{
    background: transparent;
}
