.image-{
    height: 100vh;
    width: 100vw;
    background-image: url('src/assets/images/Foto-Login.webp');
    background-size: cover;
}
.wrapper{
    background-color: rgba(61, 60, 60, 0.711);
    color: rgb(0, 0, 0);
    width: 50%;
    height: 75%;
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 50px;
    border-radius: 30px;
    transform: translate(-50%, -30%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    position: relative;
    height: 150px;
    margin-bottom: 30px;
    left: 30%;
}
a{
    color: rgb(250, 249, 249);
text-decoration: none;
}
p{
    color: white;
}