<div class="image-"></div>
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <h1 class="mb-3">Recuperar Contraseña</h1>
        <img class="logo" src="../../../assets/images/loginu.png" alt="login-">
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="Correo Electrónico">
                <label for="floatingInput">Correo Electrónico</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary" >Enviar correo de cambio de contraseña</button>
            </div>
            <div class="d-grid gap-2 mb-5">
                <button class="btn btn-primary" type="button"><a href="/login"> Volver al inicio de Sesión</a></button>
            </div>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
