.image-{
    height: 100vh;
    width: 100vw;
    /**/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('src/assets/images/Foto-Login.webp');
    /**/
    background-size: cover;
}
.container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
}
header{
    background-color: #474545;
    border-radius: 5px;
}
button{
    background-color: rgb(194, 36, 36);
    border-color: black;
    color: white;
}
button:hover{
    background-color: rgb(121, 30, 30);
    border-color: rgb(121, 30, 30);
    color: white;
}
b{
    color: white;
}
b:hover{
    color: rgb(221, 132, 132);
}
.pricing-header{
    background-color: brown;
    border-radius: 25px;

}
/*categorizaciondoc*/
.documentos {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .documentos li {
    background-color: #6ab370;
    margin-bottom: 5px;
    transition: background-color 0.3s;
  }
  
  .documentos li:hover {
    background-color: rgba(56, 112, 61, 0.2);
  }
  
  .documentos li a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  
  .documentos li a:hover {
    text-decoration: underline;
  }
  
/*----------------*/
/*footer*/
footer {
    width: 1366px;
    background-color: #474545;
    padding: 60px;
    color: white;
  }
  
  .footer-content {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-content nav a:hover {
    text-decoration: underline;
  }
  
/*------*/