<div class="image-"></div>
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <h1 class="mb-3">Bienvenido al Registro de usuario</h1>
        <img class="logo" src="../../../assets/images/loginu.png" alt="login-">
        <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Correo Electrónico">
                <label for="floatingInput">Correo Electrónico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="text" placeholder="Nombres y Apellidos">
                <label>Nombres y Apellidos</label> 
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="repetirPassword" placeholder="Contraseña">
                <label>Contraseña</label> 
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Repetir Contraseña">
                <label>Repetir Contraseña</label> 
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary" type="submit">Registrar Nuevo Usuario</button>
            </div>
            
            <p><a href="/login"> Volver al inicio de Sesión</a> </p>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>

