.image-{
    height: 100vh;
    width: 100vw;
    /**/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('src/assets/images/Foto-Login.webp');
    /**/
    background-size: cover;
}
.container{
    position: absolute;
    top: 30%;
    left: 50%;
    /*padding: 50px;*/
    transform: translate(-50%, -30%);
}
header{
    background-color: #474545;
    border-radius: 5px;
}
button{
    background-color: rgb(194, 36, 36);
    border-color: black;
    color: white;
}
button:hover{
    background-color: rgb(121, 30, 30);
    border-color: rgb(121, 30, 30);
    color: white;
}
b{
    color: white;
}
b:hover{
    color: rgb(221, 132, 132);
}
.pricing-header{
    background-color: brown;
    border-radius: 25px;

}
/*    background-color: #38703d;
*/

  .facultades {
    list-style-type: none;
    padding: 0;
    width: 40%;
  }
  
  .facultad {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }
  
  .facultad a {
    display: block;
    color: #38703d;
    text-decoration: none;

  }
  
  .facultad:hover {
    background-color: rgba(242, 242, 242, 0.8);
  }
  
  .carreras {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    padding-left: 30px;
    margin: 0;
    background-color: #f2f2f2;
    display: none;
  }
  
  .facultad:hover .carreras {
    display: block;
  }
  
  .carreras li {
    margin-bottom: 5px;
  }
  
  .carreras a {
    display: block;
    color: #38703d;
    text-decoration: none;
  }
  
  .carreras a:hover {
    background-color: rgba(56, 112, 61, 0.2);
  }
  
  /*footer*/
  footer {
    width: 1366px;
    background-color: #474545;
    padding: 60px;
    color: white;
  }
  
  .footer-content {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-content nav a:hover {
    text-decoration: underline;
  }
  
/*------*/