<div class="image-"></div>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary"><b>Principal</b></a></li>
            <li><a href="/perfil" class="nav-link px-2"><b>Mi Perfil</b></a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" (click)="logOut()">LogOut</button>
        </div>
    </header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Bienvenido</h1>
            <p class="fs-5 text-body-secondary">{{dataUser?.email}}</p>
        </div> <br>
        <div>
            <ul class="facultades">
                <li class="facultad">
                  <a href="#">Facultad de Ciencias de la Vida y la Tecnología</a>
                  <ul class="carreras" style="--cantidad-items: 8">
                    <li><a href="/categorizacion-doc">Ingeniería Agropecuaria</a></li>
                    <li><a href="/categorizacion-doc">Agronegocios</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería Agroindustrial</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería Ambiental</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería en Tecnología de la Información</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería en Software</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería en Sistemas</a></li>
                    <li><a href="/categorizacion-doc">Biología</a></li>
                  </ul>
                </li>
                <li class="facultad">
                  <a href="#">Facultad de Ciencias Sociales, Derecho y Bienestar</a>
                  <ul class="carreras" style="--cantidad-items: 7">
                    <li><a href="/categorizacion-doc">Derecho</a></li>
                    <li><a href="/categorizacion-doc">Economía</a></li>
                    <li><a href="/categorizacion-doc">Trabajo Social</a></li>
                    <li><a href="/categorizacion-doc">Comunicación</a></li>
                    <li><a href="/categorizacion-doc">Comunicación Organizacional y Relaciones Públicas</a></li>
                    <li><a href="/categorizacion-doc">Publicidad y Mercadotecnia</a></li>
                    <li><a href="/categorizacion-doc">Periodismo</a></li>
                  </ul>
                </li>
                <li class="facultad">
                  <a href="#">Facultad de Ciencias de la Salud</a>
                  <ul class="carreras" style="--cantidad-items: 9">
                    <li><a href="/categorizacion-doc">Medicina</a></li>
                    <li><a href="/categorizacion-doc">Odontología</a></li>
                    <li><a href="/categorizacion-doc">Enfermería</a></li>
                    <li><a href="/categorizacion-doc">Fonoaudiología</a></li>
                    <li><a href="/categorizacion-doc">Fisioterapia</a></li>
                    <li><a href="/categorizacion-doc">Terapia Ocupacional</a></li>
                    <li><a href="/categorizacion-doc">Laboratorio Clínico</a></li>
                    <li><a href="/categorizacion-doc">Psicología Clínica</a></li>
                    <li><a href="/categorizacion-doc">Psicología</a></li>
                  </ul>
                </li>
                <li class="facultad">
                  <a href="#">Facultad de Ingeniería, Industria y Construcción</a>
                  <ul class="carreras" style="--cantidad-items: 6">
                    <li><a href="/categorizacion-doc">Ingeniería Civil</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería Eléctrica</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería Marítima</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería Industrial</a></li>
                    <li><a href="/categorizacion-doc">Ingeniería en Alimentos</a></li>
                    <li><a href="/categorizacion-doc">Arquitectura</a></li>
                  </ul>
                </li>
                <li class="facultad">
                  <a href="#">Facultad de Educación, Turismo, Arte y Humanidades</a>
                  <ul class="carreras" style="--cantidad-items: 11">
                    <li><a href="/categorizacion-doc">Educación Inicial</a></li>
                    <li><a href="/categorizacion-doc">Educación Especial</a></li>
                    <li><a href="/categorizacion-doc">Psicología Educativa</a></li>
                    <li><a href="/categorizacion-doc">Psicología Básica</a></li>
                    <li><a href="/categorizacion-doc">Pedagogía de la Actividad Física y el Deporte</a></li>
                    <li><a href="/categorizacion-doc">Pedagogía de la Lengua y la Literatura</a></li>
                    <li><a href="/categorizacion-doc">Pedagogía de los Idiomas Nacionales y Extranjeros</a></li>
                    <li><a href="/categorizacion-doc">Turismo</a></li>
                    <li><a href="/categorizacion-doc">Hospitalidad y Hotelería</a></li>
                    <li><a href="/categorizacion-doc">Artes Plásticas</a></li>
                    <li><a href="/categorizacion-doc">Sociología</a></li>
                  </ul>
                </li>
                <li class="facultad">
                  <a href="#">Facultad de Ciencias Administrativas, Contable y Comercio</a>
                  <ul class="carreras" style="--cantidad-items: 7">
                    <li><a href="/categorizacion-doc">Administración de Empresas</a></li>
                    <li><a href="/categorizacion-doc">Mercadotecnia</a></li>
                    <li><a href="/categorizacion-doc">Contabilidad y Auditoría</a></li>
                    <li><a href="/categorizacion-doc">Auditoría y Control de Gestión</a></li>
                    <li><a href="/categorizacion-doc">Finanzas</a></li>
                    <li><a href="/categorizacion-doc">Comercio Exterior y Negocios Internacionales</a></li>
                    <li><a href="/categorizacion-doc">Gestión de la Información Gerencial</a></li>
                  </ul>
                </li>
              </ul>              
        </div>   
</div>
<footer>
    <div class="footer-content">
      <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
      <nav>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Aviso legal</a>
      </nav>
    </div>
  </footer>
