*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    color: white;
    text-decoration: none;
}#icono-c{
    color: white;
    cursor: pointer;
}
.fotous{
    position: relative;
    left: -20px;
}
.uleam{
    display: flex;  
    width: 1232.5px;  
}
/**/
body{
    font-family:'Open Sans', sans-serif;
    background-image: url('00-Foto-Login.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    position: absolute;
    left: 33%;
    text-align: center;
    color: white;
    background-color: rgb(51, 51, 51, 0.811);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 35px;
    border-radius: 15px;
}
.guiaC{
    text-align: center;
    position: relative;
    margin: auto;
    top: 130px;
    left: 30px;
    width: 50%;
    padding: 1rem;
    color: white;
    background-color: rgb(51, 51, 51, 0.811);
    border-radius: 20px;
}
.contenedor{
    padding: 2rem;
    position: relative;
    color: white;
    background-color: rgba(22, 22, 22, 0.811);
    top: 160px;
    left: 40px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
form input{
    width: 100%;
    background: none;
    outline: none;
    padding: 5px;
    margin-bottom: 0;
    font-size: 16px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #085c6b;
    color: white;
}
.contenedor input{
    width: 100%;
    height: 100%;
    padding-top: 2%;
}
.form_boton{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
}
.form_boton button{
    background-color: rgb(230, 28, 28);
    color: white;
}
.form_boton button:hover{
    background-color: rgb(138, 14, 14);
}
button{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: white;
    padding: 8px;
}
button:hover{
    background-color: rgb(219, 213, 213);
}