*{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    position: absolute;
    color: white;
    text-decoration: none;
    
}#icono-c{
    position: absolute;
    right: 80px;
    color: white;
    cursor: pointer;    
}
body{
font-size: 23px;
}
/**/
:root{
    --estado-buda: 0.3s;
}

nav{
    position: absolute;
    left: 33%;
    top:180px;
    }   
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

nav ul a{
    box-sizing: border-box;
    color: white;
    background: #474545;
    display: block;
    width: 100%;
    padding: 25px 50px;
    width: 600px;
    text-decoration: none;
} nav a:hover{
    cursor: pointer;
    background-color: #38703d;
}
nav ul ul{
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
}
nav ul ul a{
    background: transparent;
}