*{
    margin: 0;  
    padding: 0;     
}
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 25px;
}#icono-c{
    position: absolute;
    right: 80px;
    color: white;
    cursor: pointer; 
}
body{
    background-color: #E6E8EC;
}
.actualiza-d{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 650px;
    height: 400px;
    left: 25%;
    margin: 2rem;
    color:white;
}
.email-{
    position: absolute;
    background-color: #D23445;
    margin: 2rem;
    height: 20px;
    padding: 5px;    
    border-radius: 8px;
    border: 1px solid rgb(41, 39, 39);
    top:250px;
}
.facultad-{
    position: absolute;
    background-color: #D23445;
    padding: 5px;    
    border-radius: 8px;
    border: 1px solid rgb(41, 39, 39);
    margin: 2rem;
    top:165px;
    right: 0;
}
.nameuser-{
    position: absolute;
    background-color: #D23445;
    bottom: 140px;
    height: 20px;
    padding: 5px;    
    border-radius: 8px;
    border: 1px solid rgb(41, 39, 39);
    margin: 2rem;
}
.photo-{
    position: absolute;
    background-color: #D23445;
    margin: 2rem;
    top: 40px;
    left: 50%;
    padding: 5px;    
    border-radius: 8px;
    border: 1px solid rgb(41, 39, 39);
}
.Imagen-{ 
    position: absolute;
    border-radius: 40px;
    left: 120px;
    top:30px;
    width: 150px;
    height: 140px;
    background-color: #E6E8EC;
    border: 2px solid rgb(41, 39, 39);
}
#imagenDiv img{ 
    position: absolute;
    border-radius: 40px;
    left: -2px;
    top: -2px;
    width: 150px;
    height: 140px;
    border: 2px solid rgb(41, 39, 39);
}
.Boton-{
    position: absolute;
    border-color: rgb(41, 39, 39);
    margin: 2rem;
    top:250px;
    right: 0;
    background-color: #59ac5f;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 60px ;
} .Boton-:hover{
    background-color: #337437;
}