*{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    position: absolute;
    color: white;
    text-decoration: none;
    
}#icono-c{
    position: absolute;
    right: 80px;
    color: white;
    cursor: pointer;    
}
body{
    background-color: #f1f0f0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  .document {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  .type, .recipient, .status {
    font-weight: bold;
    margin-right: 5px;
  }
  .delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
