*{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #D23445;
    height: 130px;
}
.linkCerrar{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 20px;
}#icono-c{
    position: absolute;
    right: 80px;
    color: white;
    cursor: pointer;    
}
body{
    background-color: #f1f0f0;
}
.notificaciones {
    position: absolute;
    top: 180px;
    left: 23%;
    background-color: #ffffff;
    padding: 20px 300px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.notifications {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    width: 97%;
    left: 10px;
    top: 42%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.notification {
    border: 1px solid gray;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    background-color: #474545;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.notification p {
    padding: 15px;
}
.delete-btn {
    background-color: #D23445;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}
.delete-all-btn {
    background-color: #38703d;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -35px;
    right: 10px;
    cursor: pointer;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}
