* { /*Edicion general de la pág*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {/*estilos de lo que esta dentro del body, en este caso para realizar la animación*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('uleam-acceso-principal.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.container-form {/*Tamaño, display y transicion de cada clase='form'*/
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}
.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}
.message {
    padding: 1rem;
    background-color: rgb(51, 51, 51, 0.811);
    border-radius: 30px;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}
.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #36db9c;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .2s ease-in;
    color: #080808;
}
.message button:hover {
    background-color: #2b976e;
}
.formulario {/*Estilo de cada formulario, me refiero al tamaño, color, etc. de la caja*/
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.811);
    text-align: center;
    border-radius: 30px;

}
.create-account {
    padding: 1.5rem 0;
    font-size: 1.7rem;
}
.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1.3rem 0;
}

.border-icon { /*facebook*/
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}
.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}
.border-icon_2 { /*instagram*/
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}
.border-icon_2:hover {
    background-color: #e460a0;
    cursor: pointer;
}
.border-icon_3 { /*moodle uleam*/
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}
.border-icon_3:hover {
    background-color: #c1121f;
    cursor: pointer;
}
.enlace{
    color:white;
}
.Rcontra{ /*Estilo del enlace de recuperar contraseña*/
    color: white;
}
.Rcontra:hover{
    cursor: pointer;
    color: rgb(24, 240, 78);
}
.formulario input {/*Estilos de los inputs que estan dentro de los formularios*/
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .6rem 0;
    font-size: .9rem;
    color: white;
}
.formulario input[type="button"] {/*Estilos de los botones que estan dentro 
                                    del incio de sesisón y del registro*/
    width: 60%;
    margin: auto;
    border: none;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #34cf94;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: .8rem;
    color: #222;
    transition: all .2s ease-in;
}
.formulario input[type="button"]:hover {/*ayuda a la animacion a cambiar de color 
                                el boton cuando colocamos el cursor encima de este*/
    cursor: pointer;
    background-color: #2b976e;
}
.sign-in {/*para desaparecer el sign-in, se podria decir que solo no conserva su espacio*/
    position: absolute;
    opacity: 0;
    visibility: hidden; 
}
.sign-in.active {/*servirá para volver a verlo clickeando el
                boton con la funcion que está en javascript*/
    opacity: 1;
    visibility: visible;
}
.sign-up.active {
    opacity: 0;
    visibility: hidden;
}