<div class="image-"></div>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/principal"><b>Principal</b></a></li>
            <li><a href="#" class="nav-link px-2"><b>Mi Perfil</b></a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"><a href="/categorizacion-doc">Volver a categorizacion de documentos</a></button>
        </div>
    </header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-7 fw-normal text-body-emphasis">Aquí podrás subir los documentos, comentarlos, editar tu comentario y borrar los documentos</h1>
    </div>
    <br>
    <div>
    <input type="file" (change)="uploadDoc($event)" multiple>
    <div class="documentos-container" *ngFor="let documento of documentos">
        <div class="documento-item">
            <button (click)="redireccionar(documento.url)">{{documento.name}}</button>
            <div class="documento-actions">
                <button (click)="eliminarDocumento(documento)">Eliminar documento</button>
                <button (click)="editarComentario(documento)">Editar comentario</button>
            </div>
            <div class="documento-comentario" *ngIf="!documento.comentarios.editando">
                <p>{{documento.comentarios.comentario}}</p>
            </div>
            <div class="documento-comentario" *ngIf="documento.comentarios.editando">
                <textarea [(ngModel)]="documento.comentarios.comentario"></textarea>
                <button (click)="guardarComentario(documento)">Guardar</button>
            </div>
        </div>
    </div>
  </div>
</div>
<footer>
    <div class="footer-content">
      <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
      <nav>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Aviso legal</a>
      </nav>
    </div>
</footer>