
  .image-{
    height: 100vh;
    width: 100vw;
    /**/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('src/assets/images/Foto-Login.webp');
    /**/
    background-size: cover;
}
.container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
}
header{
    background-color: #474545;
    border-radius: 5px;
}
button{
    background-color: rgb(194, 36, 36);
    border-color: black;
    color: white;
    
}
button:hover{
    background-color: rgb(121, 30, 30);
    border-color: rgb(121, 30, 30);
    color: white;
}
b{
    color: white;
}
b:hover{
    color: rgb(241, 157, 157);
}
.pricing-header{
    background-color: rgb(235, 140, 140);
    border-radius: 25px;

}
.documentos-container{
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    margin-top: 20px;
}
footer {
    width: 1366px;
    background-color: #474545;
    padding: 60px;
    color: white;
  }
  
  .footer-content {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-content nav a:hover {
    text-decoration: underline;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }